* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.auth-bg {
    min-height: 100vh;
    background: url("hero.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.auth-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.5);
}

.auth-box {
    position: relative;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(8px);
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}
.auth-box h2 {
    margin-bottom: 25px;
    color: #1e041ed5;
}
.auth-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}
.auth-box button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #1e041ed5;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.auth-box button:hover {
    background: #1e041ed5;
}
.switch {
    margin-top: 15px;
    font-size: 14px;
}
.switch a {
    color: #1e041ed5;
    font-weight: bold;
    text-decoration: none;
}
.switch a:hover {
    text-decoration: underline;
}
